\data
\.vs
\osg-3.6.4-VC2017-x64
\osg-3.6.5-VC2019-x64
\raaAssignment2-vs2015
\raaOSGAssignment-template-09032023.zip
raaRunMe.bat
\x64
\images
\models
\raaAssignment2.sln
\raaAssignment2-vs2015.sln
\raaAssignment2-vs2019.sln